
<div class="mx-auto" style="width: 200px;">
  <h1>Registro manual de entrada</h1>
</div>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="formulario">
  <div class="mb-3">
      <label class="form-label">Correo*</label>
      <input type="email" class="form-control" formControlName="correo" placeholder="correo">
  </div>
  <div class="mb-3">
      <label class="form-label">Código del evento*</label>
      <input type="text" class="form-control" formControlName="codigoEvento" placeholder="código evento">
  </div>
  <div class="mb-3">
      <label class="form-label">Código de la persona*</label>
      <input type="text" class="form-control" formControlName="codigoPersona" placeholder="código personal">
  </div>
  
  <input type="submit" value="Enviar" class="btn btn-primary">
</form>