
<div class="mx-auto" style="width: 200px;">
  <h1>Registro manual de entrada</h1>
</div>
<form class="col-md-4 mx-auto formulario">
  <div class="form-group ">
    <label for="exampleInputEmail1">Correo electrónico*</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese correo">
  </div>
  <br>
  <div class="form-group ">
    <label for="exampleInputEmail1">Código del evento*</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese código">
  </div>
  <br>
  <div class="form-group ">
    <label for="exampleInputEmail1">Código de la persona*</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese Código personal">
  </div>
  <br>
  <div class="mx-auto">
    <button class="btn btn-primary mx-auto">Registrar</button>
  </div>

</form>