


  <div class="camara">
    <select [ngModel]="null" (ngModelChange)="action.playDevice($event)" class="form-select form-select-sm">
      <option [value]="null" selected>Select device</option>
      <option *ngFor="let c of action.devices.value; let i = index" [ngValue]="c.deviceId" [selected]="i == action.deviceActive">{{c.label}}</option>
    </select>
    <ngx-scanner-qrcode #action="scanner" class="video"></ngx-scanner-qrcode>
    
  </div>
  <div class="botonEscaneo">
    <img width="50" src="../../assets/camara.png" (click)="enviarQR()">
  </div>
  

