.botonEscaneo{
    
    border-radius: 200px;
    border: solid black 2px;
    margin: 0 auto;
    padding: 1%;
    max-width: fit-content;
    min-width: fit-content;
  }
  .camara{
    max-width: 400px;
    justify-content: center;
    margin: 0 auto;
    
  }
  

  
  
 
