.botonEscaneo{
    margin-top: -70%;
    border-radius: 200px;
    border: solid black 2px;
    margin: 0 auto;
    padding: 5%;
    max-width: fit-content;
    min-width: fit-content;
  }
  .camara{
    max-width: 70%;
    
    margin: 0 auto;
  }
  .boton{
    margin: 0 auto;
  }
