

<div class="csv-result-table delimitar">
    
    <table class="table table-striped">
        <thead>
            <tr>
                
                <th>ticket id</th>
                <th>nombre</th>
                <th>correo</th>
                <th>zona</th>
                <th>estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let consulta of consultas;let i = index;">

                
                <td>
                    <span>{{consulta.ticket}}</span>
                </td>
                <td>
                    <span>{{consulta.nombre}}</span>
                </td>
                <td>
                    <span>{{consulta.correo}}</span>
                </td>
                <td>
                    <span>{{consulta.zona}}</span>
                </td>
                <td>
                    <span>{{consulta.estado}}</span>
                </td>

            </tr>
        </tbody>
    </table>

</div>